<% @page_title= "Update Admin User" %>

<%= error_messages_for(@admin_user)%>

<%= render(:partial => "shared/back") %>

<div class="admin_users edit">
	<h2>Update Admin Users</h2>
	<%= form_for(:admin_user, :url=>{:action=>'update', :id=>@admin_user.id}) do |f| %>

		<%= render(:partial=>'form', :locals=>{:f => f }) %>

		<div class="form-buttons">
			<%= submit_tag('Update user')%> 
		</div>

	<% end %>


</div>