<!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS <%= " #{@page_title} " if @page_title %> </title>
    <!-- Uses the asset pipeline CSS manifest file with the RAILS helper-->
    <%= stylesheet_link_tag('application') %>
    <!-- Using the JS helper to insert a js manifest file-->
    <%= javascript_include_tag('public') %>
  </head>

  <body>
  	<div id="header">
  		<h1>Simple CMS</h1>
  	</div>

  	<div id="main">
  	  <div id="navigation">
        <%= render(:partial=>'layouts/navigation', :locals => {:subjects => @subjects}) %>
      </div>
  		<div id="content">


        <!-- before yield -->
  	    
  	    <%= yield %>

  	    <!-- after yield -->

    	</div>
      <div class="clear"></div>
  	</div>
  	<div id="footer">
  		<p id="copyright">&copy; Jason Cheung</p>
  	</div>
  </body>
</html>
